<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	plCategoryPage

<form action="/ProgramingLangueCategory" method="post">
  <div class="">
    <select th:field="${${programingLangues}.id}"  id="selectedPlId">
    <option value="0">select Programing Langue</option>
    <option th:each="operator : ${programingLangues}" th:value="${programingLangues.id}" th:text="${programingLangues.name}"></option>
    </select>
</div>
  <br><br>
  <input type="submit" value="Submit">
</form>

<hr>

	<table style="width: 100%">
		<tr>
			<th>Id</th>
			<th>Category</th>
		</tr>
		<th:forEach var="plc" items="${programinLangueCategories}">
			<tr>
				<td><th:out value="${plc.id}"></th:out></td>
				<td><th:out value="${plc.name}"></th:out></td>
			</tr>
		</th:forEach>

	</table>
</body>
</html>