<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
plCategoryPage

	<table style="width: 100%">


		<tr>
			<th>id</th>
			<th>user_id</th>
			<th>short_url</th>
			<th>url</th>
		</tr>


		<c:forEach var="pl" items="${programingLangues}">
			<tr>
				<td><th:out value="${pl.id}"></th:out></td>
				<td><th:out value="${pl.name}"></th:out></td>				
			</tr>
		</c:forEach>

	</table>
</body>
</html>