<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer's Base</title>
    <meta name="author" content="Adam Jost">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<style>
@import url(https://fonts.googleapis.com/css?family=Righteous);
h1, nav {
  font-family: 'Righteous', serif;
}
nav {
  background-color: #1D1F20;
}
.padded-top { padding-top: 10px; }
</style>
<body>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" th:href="@{/}">Programmer's Base</a>
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card padded-top">
                <h1 class="text-center"> Edit Programming Language </h1>
                <div class="card-body">
                    <form
                            th:action="@{/{categoryCode} (categoryCode=${programmingLanguage}
                            + '/' + ${category.categoryCode})}"
                            th:object="${category}"
                            method="POST"
                    >
                        <div class="form-group">
                            <label> Category </label>
                            <input
                                    type="text"
                                    name="categoryName"
                                    th:field=*{categoryName}"
                                    class="form-control"
                                    placeholder="Enter the Name of the Category"
                                    minlength="2"
                                    maxLength="200"
                                    required
                            />
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>